/* General Page Style */

body{
font-family: Arial, sans-serif;
background-color:#0a1f44;   /* dark blue background */
color:white;
margin:0;
padding:0;
}

/* Navigation Bar */

.navbar{
background-color:#061633 !important;
}

.navbar-brand{
font-weight:bold;
color:#ffffff !important;
}

.nav-link{
color:#cfe2ff !important;
}

.nav-link:hover{
color:#66b2ff !important;
}

/* Hero Section */

.hero{
    height: 100vh;
    background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("https://4kwallpapers.com/images/walls/thumbs_3t/4125.jpg");

    background-size: cover;
    background-position: center;
}

.profile-img{
width:150px;
height:150px;
border-radius:50%;
border:4px solid #66b2ff;
margin-bottom:20px;
}

/* Sections */

.section{
background-color:#102a5c;
margin:40px auto;
padding:25px;
border-radius:8px;
max-width:900px;
box-shadow:0 0 10px rgba(0,0,0,0.4);
}

/* Headings */

h1{
font-weight:bold;
}

h2{
color:#66b2ff;
margin-bottom:15px;
}

/* Lists */

ul{
list-style-type:none;
padding:0;
}

ul li{
background:#0d2450;
padding:10px;
margin:8px 0;
border-left:5px solid #66b2ff;
border-radius:3px;
}

/* Buttons */

.btn-primary{
background-color:#1c6cff;
border:none;
}

.btn-primary:hover{
background-color:#4d94ff;
}
